@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro-section">
	<div class="intro-section">
		<h1>Welcome to DreamNDine</h1>
		<p>Find your ideal vacation rental with ease. Explore our curated properties, discover your perfect getaway, and experience the comfort and convenience of a home away from home.  Our commitment to quality ensures a trustworthy and reliable booking experience.</p>
	</div>
</div>
<div class="search-form">
<form asp-page="/" method="post"> 
		<div class="form-group">
			<label for="location">Location:</label>
			<input type="text" id="location" name="location" class="form-control" />
		</div>
		<div class="form-group">
			<label for="checkInDate">Check-In Date:</label>
			<input type="date" id="checkInDate" name="checkInDate" class="form-control" />
		</div>
		<div class="form-group">
			<label for="checkOutDate">Check-Out Date:</label>
			<input type="date" id="checkOutDate" name="checkOutDate" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>

