@page
@model PropertyListViewModel
@{
	ViewData["Title"] = "View Listings";
}

<div class="filters-section">
</div>
<div class="property-grid">
    @if (Model.Properties.Any())
    {
        <h1>Available Properties</h1>
        @foreach (var property in Model.Properties)
        {
            <div class="property-card">
                <img src="@Url.Content(property.MainPic)" alt="@property.PropertyName" class="property-image"/>
                <div class="property-info">
                    <h3>@property.PropertyName</h3>
                    <p class="city">@property.City</p>
                </div>
            </div>
        }
    }
    else
    {
        <h1>No available properties</h1>
    }
    
</div>